/* FUNETES */
@font-face {
    font-family: "roboto";
    src: url("fuentes/Roboto-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}
/* ESTILOS GENERALES */
*{
    /* pagina sin bordes */
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(../img/paven.png);
}
.clearfix{
    float: none;
    clear: both;
}
/* CABECERA */
#header{
    min-width: 1024px;
    /* ancho del 100% */
    width: 100%;
    height: 170px;
    /* Centrar div */
    margin: 0px auto;
}
#header a{
    /* Quitar subrayado a los links */
    text-decoration: none;
}
/* Estilos del logotipo */
#header #logotipo{
    width: 280px;
    margin: 0px auto;
    padding-top: 10px;
}
#header #logotipo img{
   display: block;
   text-align: center;
   margin: 0px auto;
   width: 140px;
}
#header h1{
   text-align: center;
   font-size: 40px;
   color: darkblue;
   /*TIPO DE LETRA -> font-family ROBOTO*/
   font-family: 'Open Sans', sans-serif;
   /* Mayusculas */
   text-transform: uppercase;
   /* Espacio de letras */
   letter-spacing: 2px;
   margin-top: 0px;
}
#header h1 a{
   /* /* text-align: center;
   font-size: 40px; */
   color: darkblue; 
}

/* BARRA DE NAVEGACION */
#nav{
    width: 100%;
    height: 40px;
    background-color: rgb(167, 167, 167);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
#nav ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    /* width: 1500px; */
}
#nav ul > li{
    line-height: 40px;
    float: left;
    border-right: 1px solid white;
    transition: all 1s;
}
#nav ul > li a{
    display: block;
    padding-left: 107px;
    padding-right: 107px;
    color: black;
    text-decoration:none;
    transition: all 1s;
}
/* Cambio de color a boton y letra */
#nav ul > li:hover{
    background-color: darkblue;
}
#nav ul > li a:hover{
    color: white;
}
/* MENU DESPLEGABLE */
#nav >ul >li >ul{
    display: none;
    position: absolute;
    /* color: white; */
    /* text-align: left; */
    width: 335px;
    /* box-shadow: 0px 2px 2px rgb(167, 167, 167); */
    z-index: 1;
}
#nav >ul >li:hover >ul{
    display: block;
}
#nav >ul >li:hover >ul >li{
    /* display: block; */
    background-color: #f2f1f0;
    border-bottom: 1px solid #d6d6d6;
    padding: 6px;
    line-height: 25px;
    font-size: 18px;
}
#nav >ul >li:hover >ul >li a{
    /* display: block; */
    color: rgb(70, 70, 70);
}
#nav >ul >li:hover >ul >li:hover{
    box-shadow: 0px 0px 6px #ccc inset;
}
#nav >ul >li:hover >ul >li a:hover{
    /* display: block; */
    color:darkblue;
}