/* FUNETES */

/* ESTILOS GENERALES */
*{
    /* pagina sin bordes */
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(../img/paven.png);
}
/* CABECERA */
#header{
    min-width: 1024px;
    /* ancho del 100% */
    width: 100%;
    height: 150px;
}