/* FUNETES */
@font-face {
    font-family: "roboto";
    src: url("fuentes/Roboto-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}
/* ESTILOS GENERALES */
*{
    /* pagina sin bordes */
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(../img/paven.png);
}
/* CABECERA */
#header{
    min-width: 1024px;
    /* ancho del 100% */
    width: 100%;
    height: 150px;
    /* Centrar div */
    margin: 0px auto;
}
#header a{
    /* Quitar subrayado a los links */
    text-decoration: none;
}
/* Estilos del logotipo */
#header #logotipo{
    width: 280px;
    margin: 0px auto;
    padding-top: 10px;
}
#header #logotipo img{
   display: block;
   text-align: center;
   margin: 0px auto;
   width: 140px;
}
#header h1{
   text-align: center;
   font-size: 40px;
   color: darkblue;
   /*TIPO DE LETRA -> font-family ROBOTO*/
   font-family: 'Open Sans', sans-serif;
   /* Mayusculas */
   text-transform: uppercase;
   /* Espacio de letras */
   letter-spacing: 2px;
   margin-top: 0px;
}
#header h1 a{
   /* /* text-align: center;
   font-size: 40px; */
   color: darkblue; 
}